<div id="about-us" ng-controller="AboutUsController as ctrl" ng-cloak layout="column">
    <!-- <h2>Thực trạng</h2>
    <p>
        Tiếng Cham đang bị đồng hóa, chúng ta cần phải làm gì?
    </p>
    <p>
        Giới trẻ Cham đang thờ ơ với tiếng/chữ Cham, chúng ta cần phải làm gì?
    </p>
    <p>
        Cuộc tranh luận/tranh cãi về chữ Cham tốn rất nhiều thời gian, chất xám,… lại gây chia rẻ, mất đoàn kết đã mang được kết quả gì?
    </p>
    <p>
        Thay vì trách móc, chỉ trích cá nhân này hay tổ chức nọ… bạn và tôi, chúng ta đã làm được gì cho vấn đề sống còn của tiếng mẹ đẻ?
    </p>
    <p>
        Có nên chăng, chúng ta cần có cách tiếp cận mới, tích cực hơn đối với ngôn ngữ Cham thực tại!?
    </p>
    <p>
        Giữa ngôn ngữ đọc và ngôn ngữ viết trong tiếng Cham ngày càng có khoảng cách xa. Hiện trạng ít tiếp xúc với văn bản chữ hay hiện tượng nuốt chữ trong ngôn ngữ nói là 1 trong những nguyên nhân.
    </p>
    <p>
        Văn hóa "đọc" trong giới trẻ ngày càng đi xuống, thay vào đó là văn hóa "nghe - nhìn". Vì vậy cần tiếp cận xu hướng ấy để giúp giới trẻ quay về với ngôn ngữ mẹ đẻ; phải gắn liền ngôn ngữ với thực tiễn đời sống sinh hoạt hàng ngày, thông qua: văn thơ, thư từ hay giải trí (phim ảnh, ca nhạc,…)
    </p>
    <p>
        Trong thời đại công nghệ, không thể bắt tất cả người đọc đều phải tìm và đọc các loại văn bản cổ trên bia ký, giấy xưa, giấy xi-măng,… của cha ông để lại. Đó là trách nhiệm của những nhà nghiên cứu, nhà biên soạn; hãy sưu tầm, nghiên cứu, phân tích rồi tiến hành số hóa dưới dạng những cuốn sách in hay sách online (ebook)… bởi vì người đọc ngày càng "lười" và thích sự tiện lợi.
    </p> -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Tangin Pan Tangin (TPT)</span>
                <span class="md-subhead">Tangin Pan Tangin (TPT) đi vào hoạt động từ tháng 7/2013. Từ những bước khởi đầu còn non trẻ về kinh nghiệm, cũng như eo hẹp về thời gian. Đến nay (03/2016) chúng tôi cố gắng trở lại và từng bước hiện thực hóa những kế hoạch, mục tiêu đã đặt ra. Bảo tồn văn hóa dân tộc, phát huy và lưu giữ tiếng mẹ đẻ,... cùng với xu hướng phát triển chung của thời đại luôn là những mục tiêu để chúng tôi phấn đấu. (Sẽ update tiếp phần này)</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    <p>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                </div>
            </div>
        </li>
    </ul>
    <!-- <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" translate>my_team</span>
                <div layout="row" layout-wrap>
                    <div flex="33" ng-repeat="member in ctrl.members" layout="row">
                        <div flex="40">
                            <img ng-src="{{member.avatar}}" />
                        </div>
                        <div class="padding-left-xs" flex>
                            <span class="md-headline" translate>{{member.name}}</span>
                            <div layout="row" layout-align="start center">
                                <md-button class="md-fab md-mini md-bt-blue social-button" ng-href="{{member.facebook}}" target="_blank">
                                    <md-icon md-svg-src="clients/assets/img/social.svg"></md-icon>
                                </md-button>
                                <md-button class="md-fab md-mini social-button linkedin" ng-href="{{member.linkedin}}" target="_blank">
                                    <md-icon md-svg-src="clients/assets/img/linkedin.svg"></md-icon>
                                </md-button>
                            </div>
                            <span class="md-subhead" translate>{{member.introduction}}</span>
                        </div>
                    </div>
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card> -->

    <div layout="row" layout-wrap>
        <div flex="33" ng-repeat="member in ctrl.members">
            <md-card>
                <md-card-title>
                    <div flex="40">
                        <img ng-src="{{member.avatar}}" />
                    </div>
                    <md-card-title-text class="padding-left-xs">
                        <span class="md-headline" translate>{{member.name}}</span>
                        <div layout="row" layout-align="start center">
                            <md-button class="md-fab md-mini md-bt-blue social-button" ng-href="{{member.facebook}}" target="_blank">
                                <md-icon md-svg-src="clients/assets/img/social.svg"></md-icon>
                            </md-button>
                            <md-button class="md-fab md-mini social-button linkedin" ng-href="{{member.linkedin}}" target="_blank">
                                <md-icon md-svg-src="clients/assets/img/linkedin.svg"></md-icon>
                            </md-button>
                        </div>
                        <span class="md-subhead" translate>{{member.introduction}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>
