<div id="about-us" ng-controller="AboutUsController as ctrl" ng-cloak layout="column">
    <div flex="100" class="panel" layout="column" layout-align="center center">
        <h1 translate>panel_title</h1>
        <p translate>panel_description</p>
    </div>
    <div class="project row-content">
        <span class="md-headline" translate>my_profiles</span>
        <div layout="row" layout-wrap class="row" layout-padding>
            <div flex="33" ng-repeat="project in ctrl.projects">
                <div layout="row" class="item">
                    <div flex="40">
                        <img ng-src="{{project.img}}" class="full-width" />
                    </div>
                    <div flex layout="column" class="padding-left-xs">
                        <div class="md-subhead text-bold">
                            <span translate>{{project.name}}</span>
                            <br/>
                            <small ng-class="{'label-success': project.status=='0-done', 'label-warning': project.status=='1-inprogress','label-danger': project.status=='2-notstart'}" class="label" translate>{{project.status}}</small>
                        </div>
                        <p class="margin-top-sm" translate>{{project.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-content">
        <div layout="row" layout-align="center center">
            <div flex="70">
                <div layout="row" class="section-block" layout-align="start center">
                    <div flex="40">
                        <img ng-src="clients/assets/img/timeline_sample_1.jpg" class="full-width" />
                    </div>
                    <div flex layout="column" class="padding-left-xs">
                        <div class="timeline-heading">
                            <h4 class="md-subhead text-bold" translate>tpt_name</h4>
                        </div>
                        <div class="timeline-body margin-top-sm">
                            <p translate>tpt_des</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="timeline">
            <li ng-class="{'timeline-inverted': $index % 2 == 1}" ng-repeat="item in ctrl.timeline">
                <div class="timeline-badge {{item.badge}}">
                    <md-icon class="material-icons">{{item.icon}}</md-icon>
                </div>
                <div class="timeline-panel" layout="row" layout-align="start center">
                    <img ng-src="{{item.img}}" />
                    <div flex layout="column" class="padding-left-xs">
                        <div class="timeline-heading">
                            <h4 class="md-subhead text-bold">{{item.date | date: 'longDate'}}</h4>
                        </div>
                        <div class="timeline-body margin-top-sm">
                            <p translate>{{item.content}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div layout="column" class="section-block my-team">
            <span class="md-headline" translate>my_team</span>
            <div layout="row" layout-wrap class="row">
                <div flex="33" ng-repeat="member in ctrl.members" layout="row" class="item">
                    <div flex="40">
                        <img ng-src="{{member.avatar}}" class="full-width" />
                    </div>
                    <div flex layout="column" class="padding-left-xs">
                        <div class="timeline-heading">
                            <h4 class="md-subhead text-bold" translate>{{member.name}}</h4>
                        </div>
                        <div layout="row" layout-align="start center">
                            <md-button class="md-fab md-mini md-bt-blue social-button" ng-href="{{member.facebook}}" target="_blank" aria-label="facebook">
                                <md-icon md-svg-src="clients/assets/img/social.svg"></md-icon>
                            </md-button>
                            <md-button class="md-fab md-mini social-button linkedin" ng-href="{{member.linkedin}}" target="_blank" aria-label="linkedin">
                                <md-icon md-svg-src="clients/assets/img/linkedin.svg"></md-icon>
                            </md-button>
                        </div>
                        <div class="timeline-body margin-top-sm">
                            <p translate>{{member.introduction}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
