<div ng-controller="ConverterController as ctrl" ng-cloak layout="column" id="converter">
  <div flex class="title-converter">
    <div class="row-content">
      <h3>Xalih akhar Champa</h3>
    </div>
  </div>
  <div layout="row" layout-align="start start" layout-sm="column" class="row-content">
        <div layout="column" flex>
          <div flex="100" class="bt-converter">
                 <md-button class="md-raised md-button-convert">Akhar Thrah</md-button>
                 <md-button class="md-raised md-button-convert">Rumi EFEO</md-button>
                 <md-button class="md-raised md-button-convert">Akhar BBS</md-button>

                <md-menu>
                  <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-button-convert bt-viewmore">
                        <md-icon md-svg-icon="clients/assets/img/arrows.svg"></md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="akhar in ctrl.akhars">
                      <md-button ng-click="doSomething()">{{akhar.name}}</md-button>
                    </md-menu-item>
                  </md-menu-content>
                 </md-menu>
                  <md-button  class="md-raised bt-exchange">
                      <md-icon md-svg-icon="clients/assets/img/exchange2.svg"></md-icon>
                  </md-button>
          </div>
          <div flex="100" class="box-convert">
            <textarea ng-model="ctrl.sourceText" ng-change="ctrl.change(this)"  rows="8" class="text-convert" spellcheck="false" id="test1" placeholder="Taong akhar pak ni" value="">
            </textarea>
          </div>
        </div>
        <div layout="column" flex>
          <div flex="100" class="bt-converter">
                 <md-button class="md-raised md-button-convert">Akhar Thrah</md-button>
                 <md-button class="md-raised md-button-convert">Rumi EFEO</md-button>
                 <md-button class="md-raised md-button-convert">Akhar BBS</md-button>

                <md-menu>
                  <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-button-convert bt-viewmore">
                        <md-icon md-svg-icon="clients/assets/img/arrows.svg"></md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="akhar in ctrl.akhars">
                      <md-button ng-click="doSomething()">{{akhar.name}}</md-button>
                    </md-menu-item>
                  </md-menu-content>
                 </md-menu>
          </div>
          <div flex>
            <md-content id="page_content" ng-keypress="ctrl.updateEditor()" layout-padding class="content-convert" >
                Lorem ipsum dolor sit amet, ne quod novum mei.
            </md-content>
          </div>
        </div>
  </div>
  <div class="row-content margintop20px">
      <h3>Download to use offline</h3>
      <div >
        <md-button class="md-icon-button md-primary bt-download" aria-label="Settings">
           <md-icon md-svg-icon="clients/assets/img/arrow.svg"></md-icon>
         </md-button>
      </div>
  </div>
  <div class="row-content over-view">
      <h3>Over view</h3>
      <md-content class="md-block">
          <h4>Một số quy ước và lưu ý: </h4>
          <ul>
            <li>Eastern Cham: Cham Đông - ở Panduranga (Việt Nam)</li>
            <li>Western Cham: Cham Tây - ở Campuchia, Mã Lai,... và miền Nam Việt Nam</li>
            <li>KTT: Kawom Tuek Tuah Katap Akhar Cam (BBSSCC: Ban Biên Soạn Sách Chữ Cham)</li>
            <li>EFEO: École française d'Extrême-Orient (Viện Viễn Đông Bác cổ - Pháp)</li>
            <li>ĐHTH Tp.HCM: Đại học Tổng hợp Thành phố Hồ Chí Minh</li>
            <li>Chữ Cham trên hệ thống Unicode hiện nay vẫn chưa hoàn thiện, cần sự góp ý từ chính cộng đồng Cham để nó được ổn định và tiện dụng hơn</li>
            <li>Đối với chuyển tự EFEO (Rumi): chúng tôi có quy ước thay đổi 2 điểm để phần mềm hoạt động có độ chính xác cao hơn</li>
          </ul>
          <div class="table-convert1" >
            <table>
              <tr>
                <th>EFFO (Rumi)</th>
                <th>Tangin Pan Tangin (*)</th>
              </tr>
              <tr>
                <td>s: <span>x</span></td>
                <td>x: <span>x</span></td>
              </tr>
              <tr>
                <td>s: <span>s</span></td>
                <td>s: <span>s</span></td>
              </tr>
              <tr>
                <td>p: <span>p</span></td>
                <td>p: <span>p</span></td>
              </tr>
              <tr>
                <td>p: <span>F</span></td>
                <td>pp: <span>F</span></td>
              </tr>
            </table>
            <p style="font-style:italic;text-align:center;margin-top:5px">(*): Những thay đổi trên đơn thuần chỉ giúp cho phần mềm hoạt động với hiệu quả tối ưu nhất. Chúng tôi không có
              chủ trương tự ý thay đổi quy ước chuyển tự của EFEO.</p>
          </div>
          <div>
            <p class="indent-text">Những biến động về lịch sử, địa lý, xã hội,... đã ảnh hưởng không nhỏ đến đời

sống, văn hóa của dân tộc Cham. Nó khiến cho chữ Cham có những thăng trầm trong

quá trình bảo tồn và phát triển. Hiện nay, đa phần các văn bản Cham được lưu lại dưới

dạng chép tay trên các loại giấy xưa, trên lá buông...; một số được số hóa dưới dạng

scan, chụp để tiện lưu trữ theo định dạng hình ảnh. Và đặc biệt là hơn chục năm trở lại

đây, với sự ra đời của các kiểu font chữ Cham trên máy vi tính đã giúp cho việc lưu trữ,

phát triển ngôn ngữ Cham nói chung và chữ viết Cham nói riêng được tiện lợi và dễ

dàng hơn rất nhiều. Với sự phát triển vượt bậc và lợi ích to lớn của công nghệ thông tin

mang lại thì việc ứng dụng nó vào công tác bảo tồn, lưu trữ và truyền bá chữ Cham sẽ

là bước đi vững chắc và đúng đắn nhất. Tuy nhiên vẫn còn những bất cập như:
            </p>
          </div>
          <div>
            <ul>
              <li>Các font chữ được thiết kế chưa thật sự hợp lý và chưa đồng thuận ở cách sắp xếp bàn phím. Một khi đã quen với một cách gõ thì sẽ rất khó để làm quen với
cách đánh của các font khác không cùng kiểu sắp xếp bàn phím.</li>
              <li>Đa số các loại font chưa theo chuẩn Unicode đã xây dựng cho chữ Cham. Việc theo chuẩn quốc tế Unicode là hướng phát triển bền vững cho chữ Cham, về sau
sẽ được hỗ trợ hiện thị trên các website, các hệ điều hành,...</li>
              <li>Sự cách biệt về địa lý giữa các khu vực có người Cham sinh sống khiến việc giao lưu, bảo tồn và định hướng phát triển cho chữ viết giữa các vùng gặp nhiều trở
ngại. Điển hình là sự khác biệt về nét chữ giữa hai khu vực sử dụng Akhar Thrah là: Cham Việt Nam (Eastern Cham) với Cham Kur (Western Cham), người vùng
này rất khó để nhận dạng ký tự Akhar Thrah ở vùng kia mặc dù vẫn có nét tương đồng.</li>
              <li>Sự ra đời của các kiểu chuyển tự latin khác nhau.</li>
              <li>Sự tranh luận về một số chỉnh lý Akhar Thrah vẫn chưa đi đến thống nhất.</li>
              <li>...</li>
            </ul>
            <p class="indent-text">
              Nhận thấy những bất cập và thiếu sót ấy, chúng tôi - kawom Tangin Pan Tangin (TPT) xin giới thiệu đến quý bà con, các bạn sinh viên và các tri thức, các nhà
nghiên cứu văn hóa Cham nói chung và chữ Cham nói riêng một phần mềm có tên gọi "Xalih Akhar Cam" giúp hỗ trợ đồng bộ những khác biệt và bất cập nêu trên. Phần mềm "Xalih Akhar Cam" giúp chúng ta dễ dàng chuyển đổi những nội dung sau:
            </p>

          </div>
          <div class="table-convert1" >
            <table>
              <tr>
                <th>Font: Akhar Thrah1 - Yapata</th>
                <th>Font: CamTanran - EFEO</th>
              </tr>
              <tr>
                <td><span>B~' ad]</span></td>
                <td><span>BU* adE</span></td>
              </tr>

            </table>

            <p class="text-descript">Chuyển đổi qua lại với nhau các kiểu chuyển tự latin từ Akhar Thrah.</p>
            <table>
              <tr>
                <th>Transliterate: EFEO (Rumi)</th>
                <th>Transliterate: ĐHTH Tp.HCM (Inra Sara)</th>
              </tr>
              <tr>
                <td>sang danaok drei hu inâ amâ adei saai</td>
                <td>sang danauk drei hu inư amư adei saai</td>
              </tr>

            </table>
            <p class="text-descript">Ví dụ liên quan.</p>
            <table>
              <tr>
                <th>Transliterate: KTT (Quang Can)</th>
                <th>Transliterate: EFEO (Rumi)</th>
              </tr>
              <tr>
                <td>sang danook drei hu ameek amư adei xa-ai</td>
                <td>sang danaok drei hu amaik amâ adei xa-ai</td>
              </tr>
            </table>
            <p class="text-descript">Chuyển đổi từ Akhar Thrah sang chuyển tự latin.</p>
            <table>
              <tr>
                <th>Font: Champa 2 - Gilaipraung</th>
                <th>Transliterate: EFEO (Rumi)</th>
              </tr>
              <tr>
                <td><span>B~' ad] pl] c&H pt{H</span></td>
                <td>bhum adei palei cuah patih</td>
              </tr>
            </table>
            <p class="text-descript">Chuyển đổi từ chuyển tự latin sang Akhar Thrah.</p>
            <table>
              <tr>
                <th>Transliterate: EFEO (Rumi)</th>
                <th>Font: Cham_Roman - Unicode</th>
              </tr>
              <tr>
                <td>bhum adei palei cuah patih</td>
                <td><span>ꨞꨭꩌ ꨀꨕꨬ ꨚꨤꨬ ꨌꨶꩍ ꨚꨓꨪꩍ</span></td>
              </tr>
            </table>
            <p class="text-descript">Chuyển đổi từ cách viết Akhar Thrah theo quan điểm của BBSSCC sang cách viết cũ (Chú ý: chiều ngược lại không thực hiện được).</p>
            <table>
              <tr>
                <th>Font: Blue 1.1 - KTT</th>
                <th>Transliterate: EFEO (Rumi)</th>
              </tr>
              <tr>
                <td><span>:r^A iC {F c%'^ a](^ :=y^Au-n$, u=a</span></td>
                <td>anâk jak saong gila kayua amaik pataow pakai</td>
              </tr>
            </table>
            <p class="text-descript">Chuyển đổi sang chuẩn font Unicode (cho cả hai kiểu viết của Eastern Cham và Western Cham) từ các kiểu chuyển tự và các font Cham không theo chuẩn Unicode còn lại.</p>
            <table  style="width:50%">
              <tr>
                <th>Font: Akhar Thrah1 - Yapata</th>
                <th>Font: CJM Kh 001 - Unicode</th>
              </tr>
              <tr>
                <td><span>anK jK -s" g{l% ky&%a=mK p-t<w p=k</span></td>
                <td><span>ꨀꨗꩀ ꨎꩀ ꨯꨧꨱꩃ ꨈꨪꨤꨩ ꨆꨢꨶꨩ ꨀꨰꨟꩀ ꨚꨯꨓꨱꨥ ꨚꨰꨆ</span></td>
              </tr>
            </table>
            <p class="text-descript">Ví dụ liên quan.</p>
            <table style="width:50%">
              <tr>
                <th>Transliterate: ĐHTH Tp.HCM (Inrasara)</th>
                <th>Font: Cham_Roman - Unicode</th>
              </tr>
              <tr>
                <td>anưk jak saung gilai kaywa amaik patauw pakai</td>
                <td><span>ꨀꨗꩀ ꨎꩀ ꨯꨧꨱꩃ ꨈꨪꨤꨩ ꨆꨢꨶꨩ ꨀꨰꨟꩀ ꨚꨯꨓꨱꨥ ꨚꨰꨆ</span></td>
              </tr>
            </table>
          </div>
          <p class="indent-text">
            Hy vọng với những chức năng của phần mềm này sẽ giúp ích được nhiều cho

việc sưu tầm, nghiên cứu trong giới khoa học của các trí thức trong và ngoài Cham; hỗ

trợ đắc lực cho việc học tập, lưu truyền tiếng/chữ Cham của quý bà con và các bạn trẻ.
          </p>
          <p class="indent-text">
            Ở những phiên bản tiếp theo chúng tôi sẽ cố gắng tích hợp hệ thống chữ Cham

Jawi, kiểu chữ được sử dụng rộng rãi trong cộng đồng Western Cham, để cho tính năng

đồng bộ của phần mềm <span style="indent-text">"Xalih Akhar Cam"</span> được đầy đủ và phong phú hơn.
          </p>
            <p class="text-descript">
              Mọi ý kiến đóng góp xin vui lòng gửi về email: tanginpantangin@gmail.com
                    </p>
      </md-content>
  </div>
</div>
<style>
      table, th, td {
       border-collapse: collapse;
      }
      .table-convert1{
        text-align:center;
        margin: 10px 0;
      }
      table{
        width: 40%;
        font-weight: bold;
        display: inline-table;
      }
      table, th{

          border-bottom: 2px solid #77BDD8;
              border-top: 2px solid #77BDD8;
      }
      table tr:first-child{
        background-color: #F3F3F3;
      }
      table th{
        color: #77BDD8;
      }
      table td span{
          font-family: 'akhar_thrah_1';
          font-size: 25px;
      }
      th, td {
       padding: 5px;
      }
      p.indent-text{text-indent: 50px;}
      .text-descript{margin-top: 30px;margin-bottom: 30px;text-align: center}
</style>
