<div id="home-page" ng-controller="HomePageController as ctrl" ng-cloak layout="column">
    <img ng-src="clients/assets/img/bg-xalih.jpg" flex="100" />
    <div layout="row" layout-align="center center" class="xalih">
        <div layout="column" layout-align="center center" flex="50">
            <h2 class="product-name" translate>xalih_name</h2>
            <p class="product-description margin-top-md" translate>xalih_des</p>
            <md-button class="md-raised md-primary margin-top-sm md-round" ng-click="ctrl.gotoPage('main.converter')">
                Find out more
            </md-button>
        </div>
    </div>
    <div layout="row" layout-align="start center" class="margin-top-xl about-us row-content">
        <div flex>
            <h3 translate>about_us</h3>
            <p class="margin-top-md" translate>aboutus_descrip1</p>
            <p class="margin-top-sm" translate>aboutus_descrip2</p>
            <md-button class="md-raised md-primary margin-top-sm no-margin-left md-round" ng-click="ctrl.gotoPage('main.aboutus')">
                Read more
            </md-button>
        </div>
        <div hide show-gt-sm flex="40">
            <img ng-src="clients/assets/img/temple.jpg" />
        </div>
    </div>
</div>
