<div id="home-page" ng-controller="HomePageController as ctrl" ng-cloak layout="column">
    <div><slider slides='ctrl.slides' time-interval="5"> </slider></div>
    <!-- <img ng-src="clients/assets/img/bg-xalih.jpg" flex="100" />
    <div layout="row" layout-align="center center" class="xalih">
        <div layout="column" layout-align="center center" flex="50">
            <h2 class="product-name" translate>xalih_name</h2>
            <p class="product-description margin-top-md" translate>xalih_des</p>
            <md-button class="md-raised md-primary margin-top-sm md-round" ng-click="ctrl.gotoPage('main.converter')">
                Find out more
            </md-button>
        </div>
    </div> -->
    <div layout="column" class="my-team our-products-block row-content">
      <h1 class="md-header" translate>Our Products</h1>
      <div layout="row" layout-wrap class="row">
          <div flex="100" flex-gt-md="33" flex-gt-xs="50" ng-repeat="product in ctrl.ourProducs" layout="row" class="item">
              <div layout="column" flex="50">
                  <div class="title-product">{{product.Name}}</div>
                  <div class="description-product">
                      <p>{{product.Description}}</p>
                  </div>
              </div>
              <div flex layout="column">
                <div class="img-our-product">
                    <img ng-src="{{product.Avatar}}"/>
                </div>

              </div>
          </div>
      </div>
  </div> 
</br>
  <div div layout="row" layout-align="center center">
  <hr class="hr-style">
  </div>
    <div layout="row" layout-align="center center" class="margin-top-xl about-us row-content">
        <div flex="70">
            <h3 translate>about_us</h3>
            <p class="margin-top-md" translate>aboutus_descrip1</p>
            <p class="margin-top-sm" translate>aboutus_descrip2</p>
            <md-button class="md-raised md-primary margin-top-sm no-margin-left md-round" ng-click="ctrl.gotoPage('main.aboutus')">
                Read more
            </md-button>
        </div>
    </div>
</div>
