<div id="footer">
    <div class="row-content" layout="row" layout-xs="column" layout-align="start center">
      <div flex="60" flex-sm="50">
          <p>Coppyright  © 2016 Tangin pan tangin</p>
      </div>
      <div flex="30" flex-sm="40" flex-xs="100">
        <md-button class="md-fab md-mini md-bt-blue" aria-label="Eat cake">
          <md-icon md-svg-src="clients/assets/img/social.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-hue-2" aria-label="Eat cake">
            <md-icon md-svg-src="clients/assets/img/google-plus.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" aria-label="Eat cake">
           <md-icon md-svg-src="clients/assets/img/youtube-logo.svg"></md-icon>
        </md-button>

      </div>
      <div flex="nogrow">
        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons">language</md-icon>
                {{currentLanguge.text}}
            </md-button>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="item in languages">
                    <md-button ng-disabled="item.value == lang" ng-click="changeLanguage(item.value)">
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
      </div>

    </div>
    <div class="row-footer" layout="row" layout-align="start center">
      <div flex>

      </div>
      <div >

      </div>
    </div>
</div>
