<div id="footer">
    <div class="row-content" layout="row" layout-xs="column" layout-align="space-between center">
      <div>
          <p>Coppyright  © 2016 Tangin pan tangin</p>
      </div>
      <div>
        <md-button class="md-fab md-mini md-bt-blue" ng-href="https://www.facebook.com/groups/162505374129887/" target="_blank" aria-label="Facebook">
          <md-icon md-svg-src="clients/assets/img/social.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-hue-2" ng-href="https://www.google.com/" target="_blank" aria-label="Goole Plus">
            <md-icon md-svg-src="clients/assets/img/google-plus.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" ng-href="https://www.youtube.com/" target="_blank" aria-label="Youtube">
           <md-icon md-svg-src="clients/assets/img/youtube-logo.svg"></md-icon>
        </md-button>

      </div>
      <div>
        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons">language</md-icon>
                {{currentLanguge.text}}
            </md-button>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="item in languages">
                    <md-button ng-disabled="item.value == lang" ng-click="changeLanguage(item.value)">
                        {{item.text}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
      </div>

    </div>

</div>
