<md-toolbar id="header">
    <div id="langOption" class="md-toolbar-tools">
      <md-menu>
          <md-button ng-click="$mdOpenMenu($event)">
              <md-icon class="material-icons">language</md-icon>
              {{currentLanguge.text}}
          </md-button>
          <md-menu-content width="2">
              <md-menu-item ng-repeat="item in languages">
                  <md-button ng-disabled="item.value == lang" ng-click="changeLanguage(item.value)">
                      {{item.text}}
                  </md-button>
              </md-menu-item>
          </md-menu-content>
      </md-menu>
    </div>
    <div class="md-toolbar-tools container">
        <div class="row" layout="row" layout-align="start center" flex="100">
            <a href="/" class="logo" layout="row" layout-align="start center">
                <img title="Tangin pan tangin" src="clients/assets/img/logo.jpg">
                <h1 hide show-gt-sm>TANGIN PAN TANGIN</h1>
            </a>
            <span flex></span>
            <div hide show-gt-xs layout="row" layout-align="end center" ng-repeat="page in menus">
                <md-button class="{{getActiveClass(page)}}" ng-click="redirectPage(page.href)"><span translate>{{page.name}}</span></md-button>
            </div>
            <md-menu hide-gt-xs class="mobile-menu">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-menu-content width="4" class="header">
                    <md-menu-item ng-repeat="page in menus">
                        <md-button class="{{page.class}}" ng-click="redirectPage(page.href)"><span translate>{{page.name}}</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
