@font-face {
  font-family: 'Noto Sans Cham';
  src: url('NotoSansCham-Regular.woff2') format('woff2'), url('NotoSansCham-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Akhar Thrah 1';
  src: url('akhar_thrah_1-webfont.eot');
  src: url('akhar_thrah_1-webfont.eot?#iefix') format('embedded-opentype'), url('akhar_thrah_1-webfont.woff2') format('woff2'), url('akhar_thrah_1-webfont.woff') format('woff'), url('akhar_thrah_1-webfont.ttf') format('truetype'), url('akhar_thrah_1-webfont.svg#akhar_thrah_1regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blue_1.1';
  src: url('blue1.1/Blue11.eot?#iefix') format('embedded-opentype'), url('blue1.1/Blue11.woff') format('woff'), url('blue1.1/Blue11.ttf') format('truetype'), url('blue1.1/Blue11.svg#Blue11') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'camtanran';
  src: url('camta-efeo/camta-efeo-webfont.eot');
  src: url('camta-efeo/camta-efeo-webfont.eot?#iefix') format('embedded-opentype'), url('camta-efeo/camta-efeo-webfont.woff2') format('woff2'), url('camta-efeo/camta-efeo-webfont.woff') format('woff'), url('camta-efeo/camta-efeo-webfont.ttf') format('truetype'), url('camta-efeo/camta-efeo-webfont.svg#camtanranregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cham_roman';
  src: url('cham-roman/cham_roman-webfont.eot');
  src: url('cham-roman/cham_roman-webfont.eot?#iefix') format('embedded-opentype'), url('cham-roman/cham_roman-webfont.woff2') format('woff2'), url('cham-roman/cham_roman-webfont.woff') format('woff'), url('cham-roman/cham_roman-webfont.ttf') format('truetype'), url('cham-roman/cham_roman-webfont.svg#cham_romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'champa_2_gp';
  src: url('champa_2/Champa2GP.eot');
  src: url('champa_2/Champa2GP.eot?#iefix') format('embedded-opentype'), url('champa_2/Champa2GP.woff') format('woff'), url('champa_2/Champa2GP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cjm_kh_001';
  src: url('cjmkh001/cjmkh001-webfont.eot');
  src: url('cjmkh001/cjmkh001-webfont.eot?#iefix') format('embedded-opentype'), url('cjmkh001/cjmkh001-webfont.woff2') format('woff2'), url('cjmkh001/cjmkh001-webfont.woff') format('woff'), url('cjmkh001/cjmkh001-webfont.ttf') format('truetype'), url('cjmkh001/cjmkh001-webfont.svg#cjm_kh_001regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[lang='akt'] [translate] {
  font-family: 'Akhar Thrah 1';
  font-size: 28px;
  line-height: 30px;
  text-transform: none;
}
[lang='akt'] h1[translate] {
  font-size: 42px;
}
[lang='akt'] .font-yuen {
  font-size: 15px;
}
[lang='akt'] #about-us .panel h1 {
  font-size: 48px;
  font-weight: normal;
}
[lang='akt'] #about-us .md-header {
  text-transform: none;
}
.akt1,
.font-yapata {
  font-family: 'Akhar Thrah 1';
  font-size: 28px;
  line-height: 30px;
}
.akt1 br,
.font-yapata br {
  margin-bottom: 24px;
}
.font-size-akt {
  font-size: 28px;
  line-height: 30px;
}
.font-ktt {
  font-family: 'blue_1.1';
  font-size: 28px;
  line-height: 30px;
}
.font-cham-efeo {
  font-family: 'camtanran';
  font-size: 28px;
  line-height: 30px;
}
.font-gilaipraong {
  font-family: 'champa_2_gp';
  font-size: 28px;
  line-height: 30px;
}
.font-uni-camkur,
.font-uni-camvn {
  font-family: 'Noto Sans Cham';
  font-size: 19px;
  line-height: 36px;
}
.font-yuen {
  font-family: 'Tahoma';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #272726;
  font-size: 14px;
  height: 100vh;
  min-height: 100vh;
  line-height: 22px;
}
p {
  text-align: justify;
}
md-toolbar .md-toolbar-tools {
  height: inherit;
  max-height: inherit;
  padding: 0;
}
md-toolbar button.md-button {
  color: inherit !important;
}
md-toolbar button.md-button:hover {
  background-color: inherit !important;
  color: #FF5722 !important;
}
md-toolbar button.md-button.active {
  color: #FF5722 !important;
  border: 1px solid #FF5722;
}
md-toolbar md-icon {
  color: inherit !important;
}
.row-content {
  padding: 0 24px;
}
.margin-top-xl {
  margin-top: 30px;
}
.margin-top-lg {
  margin-top: 36px;
}
.margin-top-md {
  margin-top: 24px;
}
.margin-top-sm {
  margin-top: 16px;
}
.padding-left-xs {
  padding-left: 12px;
}
.no-margin-left {
  margin-left: 0;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
img.full-width {
  width: 100%;
  height: auto;
}
.circle {
  border-radius: 50%;
}
.md-raised.md-round {
  border-radius: 100px;
  border: 1px solid #FF5722;
  padding: 0 12px;
  background: #FF5722 !important;
  color: #fff !important;
}
.md-raised.md-round:hover {
  background: inherit !important;
  color: #FF5722 !important;
}
.md-button.md-fab.md-bt-blue {
  background-color: #3b5998 !important;
}
table.google-visualization-orgchart-table .google-visualization-orgchart-node {
  font-family: inherit;
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: 12px !important;
  border: none;
}
table.google-visualization-orgchart-table .google-visualization-orgchart-linebottom {
  border-bottom: 1px solid #FF5722;
}
table.google-visualization-orgchart-table .google-visualization-orgchart-lineleft {
  border-left: 1px solid #FF5722;
}
table.google-visualization-orgchart-table .google-visualization-orgchart-lineright {
  border-right: 1px solid #FF5722;
}
#header {
  background: inherit;
  margin: 12px 0;
  color: inherit;
}
#header h1 {
  padding: 12px;
  font-size: 24px;
  color: #FF5722;
}
#header md-menu.mobile-menu button.md-icon-button {
  color: #FF5722 !important;
}
#header md-menu.mobile-menu button.md-icon-button:hover {
  color: #ffffff !important;
  background: #FF5722 !important;
}
#langOption {
  padding: 0 12px;
  height: 2vh;
  font-size: 8px;
}
#wrapper {
  padding-bottom: 36px;
}
#footer {
  background: #ebebeb;
  color: #000000;
  padding: 40px 0;
}
#footer md-icon {
  color: #ffffff;
}
#home-page .xalih {
  margin-top: -500px;
  position: absolute;
}
#home-page .xalih h2.product-name {
  font-size: 50px;
  line-height: 50px;
  color: #FF5722;
  font-weight: normal;
}
#home-page .xalih .product-description {
  font-size: 18px;
  line-height: 28px;
}
#home-page .xalih button {
  padding: 4px 16px;
}
#home-page .about-us h3 {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.44);
  font-weight: normal;
  text-align: center;
  line-height: 36px;
}
#home-page .about-us p {
  font-size: 16px;
  line-height: 24px;
}
#home-page .about-us button {
  padding: 4px 16px;
}
#home-page .about-us img {
  width: 100%;
  height: auto;
  padding-left: 24px;
}
#home-page .our-products-block {
  padding-top: 50px;
}
#home-page .title-product {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 22px;
}
#home-page .md-header {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 38px;
  text-align: center;
  opacity: 0.48;
}
#home-page .img-our-product {
  position: relative;
  display: block;
  background: #fafbfc;
  width: 100%;
  padding-bottom: 50%;
}
#home-page .img-our-product img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#home-page .clickable {
  cursor: pointer;
}
#home-page .slider {
  height: 450px;
  overflow: hidden;
  position: relative;
}
#home-page .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
}
#home-page .slider .arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.5;
  transition: 0.2s linear all;
  border-radius: 4px;
}
#home-page .slider .arrow .material-icons {
  font-size: 58px;
  color: #fff;
  padding: 10px;
}
#home-page .slider .arrow:hover {
  opacity: 1;
}
#home-page .slider .arrow.prev {
  left: 20px;
}
#home-page .slider .arrow.next {
  right: 20px;
}
#home-page .slider .nav {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1002;
  left: 0;
  bottom: -4px;
  right: 0;
}
#home-page .slider .nonDraggableImage {
  -webkit-user-drag: none;
}
#home-page .slider .nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 60px 0;
}
#home-page .slider .nav ul {
  margin: 0;
  width: 100%;
}
#home-page .slider .nav .dot,
#home-page .slider .nav .dot a {
  display: inline-block;
  zoom: 1;
}
#home-page .slider .dots .dot {
  position: relative;
  margin: 0 8px;
  width: 28px;
  height: 28px;
}
#home-page .slider .dots .dot a {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #FFF;
  border: 2px solid transparent;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  transition: background-color 0.25s, border-color 0.25s;
  box-sizing: border-box;
}
#home-page .slider .dots .dot a.active {
  border-color: #FFF;
  background-color: transparent;
}
hr.hr-style {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  width: 80%;
  margin: 30px;
  display: inline-block;
}
#converter .md-button-convert {
  color: #F98D43;
  border: solid 1px;
  box-shadow: none;
}
#converter .title-converter {
  padding: 20px 0;
  margin-bottom: 10px;
  text-align: center;
}
#converter .title-converter h1 {
  color: #FF5722;
  font-weight: 400;
}
#converter .bt-converter button {
  margin: 10px 5px 10px 0;
  text-transform: initial;
}
#converter .margintop20px {
  margin-top: 20px;
}
#converter h3 {
  color: #0B86DE;
}
#converter .bt-download {
  height: 80px;
  width: 80px;
  margin: 10px 40px;
}
#converter .bt-download md-icon {
  width: 70px;
  height: 70px;
}
#converter button.btactive {
  background-color: #F98D43!important;
  color: white!important;
}
#converter .over-view md-content {
  margin-top: 10px;
}
#converter .over-view ul {
  margin-left: 50px;
}
#converter .box-convert textarea {
  width: 95%;
  padding: 8px 8px 35px;
}
#converter .box-source {
  position: relative;
}
#converter .box-source .bt-coppy {
  position: absolute;
  bottom: 8px;
  z-index: 10px;
  padding: 2px;
  left: 10px;
}
#converter .box-source .bt-coppy md-icon {
  width: 20px;
  height: 17px;
  min-height: 15px;
  min-width: 15px;
}
#converter .box-source .bt-coppy:hover {
  border: solid 1px #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
#converter .box-source .bt-clear {
  position: absolute;
  top: 5px;
  padding: 2px;
  right: 6%;
}
#converter .box-source .bt-clear md-icon {
  width: 6px;
  height: 5px;
  min-height: 10px;
  min-width: 18px;
}
#converter .box-source .bt-clear:hover {
  border: solid 1px #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
#converter .content-convert {
  min-height: 164px;
  background-color: #F1F1F1;
  max-height: 600px;
  padding: 8px 8px 35px;
}
#converter .bt-viewmore {
  min-width: 25px;
}
#converter .bt-viewmore md-icon {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
}
#converter .bt-exchange {
  min-width: 60px;
  float: right;
  margin-right: 5% !important;
  color: #ffffff;
  border: solid 1px #F98D43;
  background-color: #FFF;
}
#converter table,
#converter th,
#converter td {
  border-collapse: collapse;
}
#converter .table-convert1 {
  text-align: center;
  margin: 10px 0;
}
#converter .table-convert1 table {
  width: 50%;
  font-weight: bold;
  display: inline-table;
}
#converter .table-convert1 table,
#converter .table-convert1 th {
  border-bottom: 2px solid #77BDD8;
  border-top: 2px solid #77BDD8;
}
#converter .table-convert1 table tr:first-child {
  background-color: #F3F3F3;
}
#converter .table-convert1 table th {
  color: #77BDD8;
}
#converter .table-convert1 th,
#converter .table-convert1 td {
  padding: 5px;
}
#converter .table-akt table td span {
  font-family: 'Akhar Thrah 1';
  font-size: 25px;
}
#converter p.indent-text {
  text-indent: 50px;
}
#converter .text-descript {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
#converter .akt-converter p {
  margin-bottom: 15px;
}
#converter .font-yuen {
  font-size: 15px;
}
#converter .container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
#converter .col-6 {
  float: left;
  width: 50%;
}
#converter .padding-20 {
  padding: 0 40px;
}
#document md-card md-card-actions {
  padding-right: 12px;
  padding-bottom: 12px;
}
#document md-card md-card-title-text {
  padding-right: 12px;
}
#document md-card #icon-doc {
  width: 15%;
}
#document md-card .md-subhead {
  text-align: justify;
  padding-top: 12px;
}
#about-us .panel {
  background: url("../img/aboutus_panel.jpg") center no-repeat #425265;
  background-size: cover;
  min-height: 500px;
  color: #fff;
}
#about-us .panel h1 {
  font-size: 36px;
  line-height: 52px;
  padding: 24px 36px;
  font-weight: normal;
}
#about-us .panel p {
  font-size: 18px;
  line-height: 22px;
  padding: 0 36px;
}
#about-us .section-block {
  padding-top: 48px;
}
#about-us .section-block .md-subheader h2 {
  color: #FF5722;
  line-height: 24px;
  font-weight: normal;
}
#about-us .md-header {
  margin-bottom: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
#about-us .md-fab.md-button.social-button {
  width: 40px;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  box-shadow: none;
  padding-top: 3px;
  margin: 4px;
}
#about-us .md-fab.md-button.social-button svg {
  height: 60%;
  width: 60%;
}
#about-us .md-fab.md-button.social-button:first-child {
  margin-left: 0;
}
#about-us .md-fab.md-button.social-button.linkedin {
  background-color: #1985bc;
}
#about-us .no-margin-block .row {
  margin: 0 -16px;
}
#about-us .no-margin-block .row .item {
  padding: 12px;
}
#about-us .my-team h4 {
  text-align: center;
  color: #FF5722;
}
#about-us .my-team md-icon {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-left: 2px;
}
@media (max-width: 599px) {
  #home-page .xalih h2.product-name {
    font-size: 36px;
    line-height: 36px;
  }
  #home-page .xalih .product-description {
    font-size: inherit;
    line-height: inherit;
  }
  #converter .table-convert1 table {
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  #converter .table-convert1 table {
    width: 90%;
  }
}
