@font-face {
  font-family: 'akhar_thrah_1';
  src: url('akhar_thrah_1-webfont.eot');
  src: url('akhar_thrah_1-webfont.eot?#iefix') format('embedded-opentype'), url('akhar_thrah_1-webfont.woff2') format('woff2'), url('akhar_thrah_1-webfont.woff') format('woff'), url('akhar_thrah_1-webfont.ttf') format('truetype'), url('akhar_thrah_1-webfont.svg#akhar_thrah_1regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[lang='akt'] [translate] {
  font-family: 'akhar_thrah_1';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #272726;
  font-size: 14px;
  height: 100vh;
  min-height: 100vh;
  line-height: 22px;
}
p {
  text-align: justify;
}
md-toolbar .md-toolbar-tools {
  height: inherit;
  max-height: inherit;
  padding: 0;
}
md-toolbar button.md-button {
  color: inherit !important;
}
md-toolbar button.md-button:hover {
  background-color: inherit !important;
  color: #ff5722 !important;
}
md-toolbar button.md-button.active {
  color: #ff5722 !important;
  border: 1px solid #ff5722;
}
md-toolbar md-icon {
  color: inherit !important;
}
.row-content {
  padding: 0 24px;
}
.margin-top-xl {
  margin-top: 48px;
}
.margin-top-lg {
  margin-top: 36px;
}
.margin-top-md {
  margin-top: 24px;
}
.margin-top-sm {
  margin-top: 16px;
}
.padding-left-xs {
  padding-left: 12px;
}
.no-margin-left {
  margin-left: 0;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
img.full-width {
  width: 100%;
  height: auto;
}
.md-raised.md-round {
  border-radius: 100px;
  border: 1px solid #ff5722;
  padding: 0 12px;
  background: #ff5722 !important;
  color: #fff !important;
}
.md-raised.md-round:hover {
  background: inherit !important;
  color: #ff5722 !important;
}
.md-button.md-fab.md-bt-blue {
  background-color: #3b5998 !important;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
#header {
  background: inherit;
  margin: 12px 0;
  color: inherit;
}
#header h1 {
  padding: 12px;
  font-size: 24px;
  color: #ff5722;
}
#header md-menu.mobile-menu button.md-icon-button {
  color: #ff5722 !important;
}
#header md-menu.mobile-menu button.md-icon-button:hover {
  color: #ffffff !important;
  background: #ff5722 !important;
}
#wrapper {
  padding-bottom: 36px;
}
#footer {
  background: #696c74;
  color: #ffffff;
  padding: 40px 0;
}
#footer md-icon {
  color: #ffffff;
}
#home-page .xalih {
  margin-top: -500px;
  position: absolute;
}
#home-page .xalih h2.product-name {
  font-size: 50px;
  line-height: 50px;
  color: #ff5722;
  font-weight: normal;
}
#home-page .xalih .product-description {
  font-size: 18px;
  line-height: 28px;
}
#home-page .xalih button {
  padding: 4px 16px;
}
#home-page .about-us h3 {
  font-size: 36px;
  color: #ff5722;
  font-weight: normal;
  line-height: 36px;
}
#home-page .about-us p {
  font-size: 16px;
  line-height: 24px;
}
#home-page .about-us button {
  padding: 4px 16px;
}
#home-page .about-us img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-left: 24px;
}
#converter .title-converter {
  padding: 20px 0;
  margin-bottom: 10px;
  background-color: #e8e8e8;
}
#converter .bt-converter button {
  margin: 10px 0;
  text-transform: initial;
}
#converter .content-converter {
  height: 146px;
  background-color: #EAEAEA;
}
#converter .margintop20px {
  margin-top: 20px;
}
#converter h3 {
  color: #0B86DE;
}
#converter .bt-download {
  height: 80px;
  width: 80px;
  margin: 10px 40px;
}
#converter .bt-download md-icon {
  width: 50px;
  height: 50px;
}
#converter .over-view md-content {
  margin-top: 10px;
}
#converter .over-view ul {
  margin-left: 50px;
}
#converter .box-convert textarea {
  width: 95%;
  padding: 8px;
}
#converter .content-convert {
  height: 154px;
  background-color: #F1F1F1;
}
#converter .bt-viewmore {
  min-width: 25px;
}
#converter .bt-viewmore md-icon {
  width: 15px;
}
#converter .bt-exchange {
  min-width: 60px;
  float: right;
  margin-right: 5% !important;
}
#document md-card md-card-actions {
  padding-right: 12px;
  padding-bottom: 12px;
}
#document md-card md-card-title-text {
  padding-right: 12px;
}
#document md-card .md-subhead {
  text-align: justify;
  padding-top: 12px;
}
#about-us .panel {
  background: url("../img/aboutus_panel.jpg") center no-repeat #425265;
  background-size: cover;
  min-height: 500px;
  color: #fff;
}
#about-us .panel h1 {
  margin-bottom: 50px;
  padding-top: 24px;
  font-size: 36px;
  line-height: 36px;
  color: #ff5722;
}
#about-us .panel p {
  font-size: 18px;
  line-height: 22px;
  padding: 0 36px;
}
#about-us .project {
  padding-top: 48px;
  padding-bottom: 48px;
}
#about-us .project .md-headline {
  color: #ff5722;
}
#about-us .project .row {
  margin: 24px -16px 0;
}
#about-us .project .row .item {
  background: #fff;
  padding: 12px;
}
#about-us .section-block {
  padding: 20px;
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
#about-us .md-fab.md-button.social-button {
  width: 24px;
  height: 24px;
  min-height: 24px;
  line-height: 24px;
  box-shadow: none;
  padding-top: 3px;
  margin: 4px;
}
#about-us .md-fab.md-button.social-button svg {
  height: 60%;
  width: 60%;
}
#about-us .md-fab.md-button.social-button:first-child {
  margin-left: 0;
}
#about-us .md-fab.md-button.social-button.linkedin {
  background-color: #1985bc;
}
#about-us .timeline-badge md-icon {
  color: #fff;
  font-weight: bold;
  margin-top: -2px;
}
#about-us .my-team .md-headline {
  color: #ff5722;
}
#about-us .my-team .row {
  margin: 24px -16px 0;
}
#about-us .my-team .row .item {
  background: #fff;
  padding: 12px;
}
@media (max-width: 599px) {
  #home-page .xalih h2.product-name {
    font-size: 36px;
    line-height: 36px;
  }
  #home-page .xalih .product-description {
    font-size: inherit;
    line-height: inherit;
  }
}
