@color-text-default: #272726;
@color-primary: rgb(255,87,34);

@font-face {
    font-family: 'akhar_thrah_1';
    src: url('akhar_thrah_1-webfont.eot');
    src: url('akhar_thrah_1-webfont.eot?#iefix') format('embedded-opentype'), url('akhar_thrah_1-webfont.woff2') format('woff2'), url('akhar_thrah_1-webfont.woff') format('woff'), url('akhar_thrah_1-webfont.ttf') format('truetype'), url('akhar_thrah_1-webfont.svg#akhar_thrah_1regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[lang='akt'] {
    [translate] {
        font-family: 'akhar_thrah_1';
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    color: @color-text-default;
    font-size: 14px;
    height: 100vh;
    min-height: 100vh;
    line-height: 22px;
}
p {
    text-align: justify;
}
md-toolbar {
    .md-toolbar-tools {
        height: inherit;
        max-height: inherit;
        padding: 0;
    }
    button.md-button {
        color: inherit !important;
        &:hover {
            background-color: inherit !important;
            color: @color-primary !important;
        }
        &.active {
            color: @color-primary !important;
            border: 1px solid @color-primary;
        }
    }
    md-icon {
        color: inherit !important;
    }
}
.row-content {
    padding: 0 24px;
}
.margin-top-xl {
    margin-top: 48px;
}
.margin-top-lg {
    margin-top: 36px;
}
.margin-top-md {
    margin-top: 24px;
}
.margin-top-sm {
    margin-top: 16px;
}
.no-margin-left {
    margin-left: 0;
}
.md-raised.md-round {
    border-radius: 100px;
    border: 1px solid @color-primary;
    padding: 0 12px;
    background:  @color-primary !important;
    color: #fff !important;
    &:hover{
        background: inherit !important;
        color: @color-primary !important;
    }
}

#header {
    background: inherit;
    margin: 12px 0;
    color: inherit;
    h1 {
        padding: 12px;
        font-size: 24px;
        color: @color-primary;
    }
    md-menu.mobile-menu {
        button.md-icon-button {
            color: @color-primary !important;
            &:hover {
                color: #ffffff !important;
                background: @color-primary !important;
            }
        }
    }
}
#wrapper {
    padding-bottom: 36px;
}
#footer {
    background: #696c74;
    color: #ffffff;
    padding: 40px 0;
    md-icon {
        color: #ffffff;
    }
    .md-button.md-fab.md-bt-blue {
        background-color: #3b5998 !important;
    }

}
#home-page {
    .xalih {
        margin-top: -500px;
        position: absolute;
        h2.product-name {
            font-size: 50px;
            line-height: 50px;
            color: @color-primary;
            font-weight: normal;
        }
        .product-description {
            font-size: 18px;
            line-height: 28px;
        }
        button {
            padding: 4px 16px;
        }
    }
    .about-us {
        h3 {
            font-size: 36px;
            color: @color-primary;
            font-weight: normal;
            line-height: 36px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
        button {
            padding: 4px 16px;
        }
        img {
            border-radius: 50%;
            width: 100%;
            height: auto;
            padding-left: 24px;
        }
    }
}
#document {
    md-card {
        md-card-actions {
            padding-right: 12px;
            padding-bottom: 12px;
        }
        md-card-title-text {
            padding-right: 12px;
        }
        .md-subhead {
            text-align: justify;
            padding-top: 12px;
        }
    }
}
@layout-breakpoint-xs: 600px;
@layout-breakpoint-sm: 960px;
@layout-breakpoint-md: 1280px;
@layout-breakpoint-lg: 1920px;

// Xtra-SMALL  SCREEN
@media (max-width: (@layout-breakpoint-xs - 1)) {
    #home-page {
        .xalih {
            h2.product-name {
                font-size: 36px;
                line-height: 36px;
            }
            .product-description {
                font-size: inherit;
                line-height: inherit;
            }
        }
    }
}

// BIGGER THAN Xtra-SMALL SCREEN
@media (min-width: @layout-breakpoint-xs) {}

@media (min-width: @layout-breakpoint-xs) and (max-width: (@layout-breakpoint-sm - 1)) {}

// BIGGER THAN SMALL SCREEN
@media (min-width: @layout-breakpoint-sm) {}

// MEDIUM SCREEN
@media (min-width: @layout-breakpoint-sm) and (max-width: (@layout-breakpoint-md - 1)) {}

// BIGGER THAN MEDIUM SCREEN
@media (min-width: @layout-breakpoint-md) {}

// LARGE SCREEN
@media (min-width: @layout-breakpoint-md) and (max-width: (@layout-breakpoint-lg - 1)) {}

// BIGGER THAN LARGE SCREEN
@media (min-width: @layout-breakpoint-lg) {}
